.fondo{
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
    background-color: #f0f0f0;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px 120px;
}
.contenido-principal{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.datos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cats{
    width: 30%;
}
.contenido{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.contenidoBus{
    width: 70%;
    display: flex;
    flex-direction: column; 
}
.no-existe{
    background-color: white;
    padding: 190px 30px;
    text-align: center;
}
.imagen{
    height: 200px;
}
img{
    height: 90%;
}
.datos-bus{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nombre{
    font-size: x-large;
}
.cato{
    width: 100%;
    padding: 10px;
}
.cato:hover{
    color: #4DBDEB;
}