<div class="principal">
  
    <!-- Inicio carrusel -->
    <!-- Carrusel de Imagenes -->
<!-- Carrusel de Imagenes -->
<section class="galeria">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/hikvision.jpg" class="d-block w-100 tamanio-img" alt="img 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/commac.png" class="d-block w-100 tamanio-img " alt="img 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/poco.jpg" class="d-block w-100 tamanio-img" alt="img 3">
      </div>
      <div class="carousel-item">
        <img src="assets/images/laptop.jpg" class="d-block w-100 tamanio-img" alt="img 4">
      </div>
    </div>

    <!-- Botones de control dentro del contenedor de carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Nexxt</span>
    </button>
  </div>
</section>
    <!-- fin carrusel -->
     
  <div class="encabezado">
    <p>Categorias Populares</p>
  </div>

  <section class="contenedor">
    <!-- Fila 1 -->
    <div class="boton-icono" (click)="datCat.AplicarBus('Audio y Video')" routerLink="/busqueda">
      <img src="assets/images/camara.png" alt="Imagen 2" >
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Seguridad')" routerLink="/busqueda">
      <img src="assets/images/boton-de-alarma.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Portátiles')" routerLink="/busqueda">
      <img src="assets/images/ordenador-portatil.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Automatización del Hogar')" routerLink="/busqueda">
      <img src="assets/images/timbre.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Entretenimiento')" routerLink="/busqueda">
      <img src="assets/images/videoportero.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Dispositivos de Almacenamiento')" routerLink="/busqueda">
      <img src="assets/images/cerradura-de-la-puerta.png" alt="Imagen 2">
    </div>
    
    <!-- Fila 2 -->
    <div class="boton-icono" (click)="datCat.AplicarBus('Redes y Conectividad')" routerLink="/busqueda">
      <img src="assets/images/bide.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Portátiles')" routerLink="/busqueda">
      <img src="assets/images/telefono-movil.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Electrodomésticos Inteligentes')" routerLink="/busqueda">
      <img src="assets/images/deshidratador-de-alimentos.png" alt="Imagen 2">
    </div>
    
    <div class="boton-icono" (click)="datCat.AplicarBus('Entretenimiento')" routerLink="/busqueda">
      <img src="assets/images/ver-la-television.png" alt="Imagen 2">
    </div>
    
  </section>
  </div>